<?php

if(!$this->getConfig('enabled')) return;
?>
<?php if(!count($this->getItemCollection()->getItems())) return; ?>
<?php
    // getConfig
    $widthImage     = $this->getConfig('widthImage') ? $this->getConfig('widthImage') : 135;
    $heightImage    = $this->getConfig('heightImage') ? $this->getConfig('heightImage') : 135;
    $price          = $this->getConfig('price');
    $cart           = $this->getConfig('cart');
    // $compare        = $this->getConfig('compare');
    // $wishlist       = $this->getConfig('wishlist');
    $review         = $this->getConfig('review');
    // $rows           = $this->getConfig('rows');
    // $class          = ($rows > 1) ? '.slide-multirows' : '.products-grid';
?>
<div class="upsellslider">
    <?php echo $this->getConfig('title') ? '<div class="rokan-product-heading upsell-title"><h2 class="title">' .$this->getConfig('title'). '</h2></div>' : ''; ?>
	<div class="row">
		<ul class="owl">
		<?php // $this->setColumnCount(5); // uncomment this line if you want to have another number of columns. also can be changed in layout ?>
		<?php $this->resetItemsIterator() ?>
		<?php for($_i=0;$_i<$this->getRowCount();$_i++): ?>
			<?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
				<?php if($_link=$this->getIterableItem()): ?>
				<li class="item">
					<a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize($widthImage, $heightImage) ?>" alt="<?php echo $this->htmlEscape($_link->getName()) ?>" /></a>
					<h3 class="product-name"><a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>"><?php echo $this->htmlEscape($_link->getName()) ?></a></h3>
					<?php if( $review ): ?>
						<?php echo $this->getReviewsSummaryHtml($_link) ?>
					<?php endif; ?>
			<?php if( $price ): ?>
						<?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
					<?php endif; ?>
					
					<?php if($cart): ?>
						<?php if($_link->isSaleable()): ?>
							<p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_link) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
						<?php else: ?>
							<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
						<?php endif; ?>
					<?php endif; ?>
				</li>
				<?php endif; ?>
			<?php endfor; ?>
		<?php endfor; ?>
		</ul>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
		$jq(document).ready(function(){
			$jq(".upsellslider .owl").owlCarousel({
				autoPlay : false,
				items : 4,
				itemsDesktop : [1199,3],
				itemsDesktopSmall : [980,3],
				itemsTablet: [768,2],
				itemsMobile : [479,1],
				slideSpeed : 500,
				paginationSpeed : 500,
				rewindSpeed : 500,
				navigation : true,
				stopOnHover : true,
				pagination :false,
				scrollPerPage:true,
			});
		});
	//]]>
</script>
